/* Reset CSS */
* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

/* Main Styling */
html, body {
  font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  /* color : #fff; */
  text-decoration : none;
  color : #fff;
}

/* Utility Class */
.container {
  max-width : 1140px;
  overflow : auto;
  margin : auto;
}

h2 {
  margin-bottom : 15px;
}

.text-primary {
  color : #f7c08a;
}

.paragraph-primary {
  font-size : 20px;
  line-height : 1.2em;
}

.btn {
  /* a tag is inline which cannot use padding with it, 
  so display inlin block to not take up whole space and can apply padding */
  display : inline-block;
  font-size : 18px;
  color : #fff;
  padding : 13px 20px;
  border : none;
  background-color : #333;
  cursor : pointer;
}

.btn:hover {
  background-color : #f7c08a;
  color : #333;
  font-weight : bold;
}

.bg-dark {
  background-color : #333;
}

.bg-light {
  background-color : #f4f4f4;
  color : #333;
}

.bg-primary {
  background-color : #f7c08a;
  color : #333;
}

.clr {
  clear : both;
  display : table;
}

.small-container {
  max-width : 450px;
  margin : auto;
}

.small-container p {
  line-height: 1.7em;
  color : #fff;
}

.l-heading {
  font-size : 40px;
}

/* Navigation Bar */
.navbar {
  background-color: #333;
  overflow : auto;
}

.navbar h1 a {
  float : left;
  padding-left : 15px;
  padding-top : 10px;
}

.navbar ul {
  list-style : none;
  float : right;
}

.navbar ul li {
  float : left;
}

.navbar ul li a {
  display : block;
  padding : 20px;
  text-align : center;
}

.navbar ul li a:hover, .current {
  background-color : #444;
  color : #f7c08a;
}

/* Showcase */
.showcase {
  background : url(../img/showcase.jpg) no-repeat center center/cover;
  height : 600px;
}

.showcase-message {
  padding-top : 170px;
  color : #fff;
  text-align : center;
}

.showcase-message h1 {
  font-size : 60px;
  line-height : 1.6em;
  padding-bottom : 20px;
}

.showcase-message p {
  line-height : 1.7em;
  padding-bottom : 30px;
}

/* Info Content and Image */

#home-info {
  height : 400px;
  overflow: hidden;
}

#home-info .info-img {
  float: left;
  width: 50%;
  min-height : 100%;
  background: url('../img/photo-1.jpg') no-repeat center center/cover;
}

#home-info .info-content {
  width : 50%;
  float : right;
  text-align : center;
  padding : 50px;
  color : #fff;
}

.info-content h2 {
  padding : 28px auto;
}

.info-content p {
  margin-bottom : 20px;
  font-size : 16px;
}

.btn-light {
  background-color : #f4f4f4;
  color : #333;
}

/* Feature */
.feature {
  max-width: inherit;
}
.box {
  width : 33.3%;
  height : 350px;
  padding : 100px;
  float : left;
  text-align : center;
  overflow : hidden;
}

.box i {
  margin-bottom : 15px;
}

/* About Page */
#about-info {
  padding : 60px;
}

#about-info .info-left {
  float : left;
  width : 50%;
  min-height : 100%;
  padding : 20px;
}

#about-info .info-left p {
  line-height: 1.7em;
  text-align: justify;
}

#about-info .info-left h1 {
  margin-bottom : 25px;
}


#about-info .info-right {
  float : right;
  width : 50%;
}

#about-info .info-right img {
  display : block;
  width : 70%;
  margin : auto;
  border-radius: 50%;;
}

/* Tesimonial */
#testimonials {
  background : url(../img/test-bg.jpg) no-repeat center center/cover;
  padding : 50px;
}

#testimonials .testimonial img {
  height : 100px;
  border-radius : 50%;
  float : left;
  margin-right : 20px;
}

#testimonials .testimonial {
  padding : 20px;
  margin-bottom : 40px;
  height : 140px;
  opacity : 0.9;
  overflow : hidden;
}

#testimonials h2 {
  color : #fff;
  text-align : center;
  margin-top : 25px;
  margin-bottom : 20px;
}

/* Contact Form */
#contact-form {
  padding : 30px;
}

#contact-form .form-group {

}

#contact-form .form-group h1,p {
  line-height: 1.7em;
  margin-bottom : 20px;
}

#contact-form .form-group label {
  display : block;
  margin-bottom : 15px;
}

#contact-form .form-group input,textarea {
  width : 100%;
  border : 1px solid #ddd;
  padding : 6px;
  border-radius: 5px;
}

#contact-form .form-group textarea {
  width : 100%;
  height : 150px;
  margin-bottom : 20px;
}

/* To change border color when click onto an input */
#contact-form .form-group input:focus, textarea:focus {
  outline : none;
  border-color: #f7c08a;
}

#contact-info .box {
  color : #fff;
  background-color: #333;
}


/* Footer */
#main-footer {
  background-color : #333;
  padding-top : 5px;
  padding-bottom : 5px;
}

#main-footer p {
  color : #fff;
  text-align: center;  
}
